.wrapper {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar"
    "content";
    width: 100vw; /* unnecessary, but let's keep things consistent */
    height: 100vh;
}

@media screen and (min-width: 850px) {
    .wrapper {
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidebar content";
    }
}



/* SIDEBAR */

main {
    grid-area: content;
    padding: 48px;
}

sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "logo menu avatar"
    "copyright menu avatar";
    height: 100%;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.telogo {
    width: 100px;
    left: 30px;
    position: fixed;
}

.copyright {
    text-align: center;
}
.avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.avatar__name {
    flex: 1;
    text-align: right;
    margin-right: 1em;
}
.avatar__img > img {
    display: block;
}

.copyright {
    grid-area: copyright;
}
.menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: scroll;
    height: 97%;
    max-height: 700px;
}

#setting {
    width: 20px;
    top: -2px;
    right: -25px;
    position: relative;

}

#generateMethodBox{
    background: white;
    position: absolute;
    width: 270px;
    height: 100px;
    border: 1px double black;
}

#boxclose{
    width: 15px;
    right: 7px;
    position: absolute;
    top: 7px
}

img{
    z-index: 500;
}

#generateMethodBox > span{
    font-size: x-large;
    left: 10%;
    color:black;
    position: relative;
}

#generateMethodBox > select {
    margin-top: 20px;
    margin-left: 60px;
    width: 60%;
}

.logo {
    grid-area: logo;
}
.menu__text {
    display: none;
    height: 20px!important;
}

.credit {
    padding-left: 10px;
    position: fixed;
}

@media screen and (min-width: 850px) {
    sidebar {
        grid-template-areas: "logo"
        "menu"
        "button";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 76% 70px;
        height: -webkit-fill-available;
    }

    .menu {
        flex-direction: column;
        align-items: normal;
        justify-content: flex-start;
    }
    .menu__text {
        display: inline-block;
    }
    .avatar {
        flex-direction: column;
    }
    .avatar__name {
        margin: 1em 0;
    }
    .avatar__img > img {
        border-radius: 50%;
    }
}

i {
    left: 95%;
    position: relative;
}

.btn {
    margin-left: 30px;
    width: 240px;
}




/* MAIN */

.toolbar{
    display: -webkit-inline-box;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.calendar{
    background-color: white;
    border: 1px solid #e1e1e1;
}

.calendar__week {
    display: grid;
    grid-template-columns: 13% repeat(5, 1fr);
    grid-auto-rows: 25px;
    text-align: -webkit-center;
    line-height: 100%;
}

.calendar__day {
    display: inline-grid;
    padding-top: 5px;
    position: relative;
}

.calendar__day:hover{
    background: #e5e6e8;
    font-weight: normal;
    /*font-size: 80%;*/
}

.calendar__term {
    width: 49.7%;
    display: inline-block;
}




/* COSMETIC STYLING */

:root {
    --red: #ED5454;
}

body {
    font-family: Montserrat !important;
    font-weight: 100;
    margin: auto !important;
    color: #A8B2B9 !important;
    font-size: small !important;
}

sidebar {
    background-color: white;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
}

main {
    background-color: #FCFBFC;
    padding-top: 10px;
}

.avatar__name {
    font-size: 0.8rem;
}

.menu__item {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 4px 4px 4px 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    color: inherit;
    text-decoration: none;
    transition: color ease 0.3s;
}
.menu__item--active{
    height: auto;
    font-size: initial;
}

p{
    text-transform: initial !important;
    color: black;
    margin-bottom: 0 !important;
}

.lecture, .tutorial, .practice{
    width: 300px;
    -webkit-flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.coursebutton{
    margin: 5px;
    font-size: small;
    color: #33cc33;
    border: 1px solid #33cc33;
    //width: 58px;
    height: 21px;
    word-wrap: break-word;

}

.coursebutton:hover{
    color: #009933;
    border: 1px solid #009933;
}


.menu__item--active .menu__icon {
    color: var(--red);
}
.menu__item--active .menu__text {
    height: 30%;
    color: black;
}
.menu__text:hover {
    color: black;
}
.menu__item:hover {
    color: black;
}

.req{
    font-size: x-small;
}

.menu__icon {
    font-size: 1.3rem;
}

@media screen and (min-width: 850px) {
    .menu__icon {
        font-size: 0.9rem;
        padding-right: 16px;
    }
    .menu__item--active {
        border-left: 4px solid var(--red);
        box-shadow: inset 10px 0px 17px -13px var(--red);
    }
}



.autocomplete {
    z-index: 1000;
    display: -webkit-inline-box;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 13px;
    right: 0;
    width: 100%;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#searchform {
    margin-top:0;
    position:absolute;
    /*width:50%;*/
    right: 20px;
    margin-right: 60px;
}

#searchautocomplete-list{
    width:90%;
}

#floating {
    background: whitesmoke;
}

.close {
    filter:opacity(500%);
}

.close:hover {
    filter:opacity(800%);

}

.selected_button {
    background: #33cc33;
    color: whitesmoke;
}

.selected_conflict_button {
    background: #ED5454!important;
    color: whitesmoke!important;
}

.calendar__day > span {
    line-height: 10px;
}

.courseGraph{
    grid-template-rows:20px 15px 15px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    margin: 0;
    z-index: 5;
    display: grid;
    flex-wrap: wrap;
}
.courseGraph:hover{
    overflow: auto;
}
.courseGraph > .close{
    left: 40%;
    position: relative;
}

.blocked-timeslot {
    background: #e5e6e8;
}

.blocked-timeslot:hover {
    background: whitesmoke;
}

.graph-hover{
    filter: opacity(70%);
    overflow: visible!important;
    color: indigo !important;
}

.conflict_button{
    border-color: red;
    color: red;
}
.conflict_button:hover{
    border-color: #ED5454 !important;
    color: #ED5454 !important;
}
/*--------------------------------------------------------------------*/
.copyright {
    font-size: 0.7rem;
    font-weight: 400;
}

.calendar {
    background-color: white;
    border: 1px solid #e1e1e1;
}

.calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.calendar__day {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

.calendar__day:last-child {
    border-right:  1px solid #e1e1e1;
}

.calendar__day:first-child {
    border-left:  1px solid #e1e1e1;
}

.toggle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 0.9em;
}
.toggle__option{
    padding: 16px;
    border: 1px solid #e1e1e1;

    text-transform: capitalize;
    cursor: pointer;
}
.toggle__option:first-child {
    border-radius: 8px;
    border-right: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.toggle__option:last-child {
    border-radius: 8px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.toggle__option--selected{
    border-color: white;
    background-color: white;
    color: var(--red);
    font-weight: 500;
    box-shadow: 1px 2px 30px -5px var(--red);
}

