
$schedule-rows-number: 12;
$schedule-rows-header-height: 50px;
$schedule-rows-height: 64px;
$schedule-rows-header-height-mobile: 30px;
$schedule-rows-height-mobile: 53px;

$schedule-search-height: 50px;
$schedule-search-height-mobile: 30px;

$sidenav-width: 280px;
$sidebar-header-width: 10px;
$sidebar-show-height: 30%;
$sidebar-hide-height: 5%;
