
$schedule-rows-number: 12;
$schedule-rows-header-height: 50px;
$schedule-rows-height: 64px;
$schedule-rows-header-height-mobile: 30px;
$schedule-rows-height-mobile: 53px;

$schedule-search-height: 50px;
$schedule-search-height-mobile: 30px;

$sidenav-width: 280px;
$sidebar-header-width: 10px;
$sidebar-show-height: 30%;
$sidebar-hide-height: 5%;

$color-event-1: hsl( 271, 23%, 26%);   // Martinique
$color-event-2: hsl( 162, 14%, 68%);   // Edward
$color-event-3: hsl( 31, 89%, 68%);    // Rajah
$color-event-4: hsl( 199, 25%, 46%);   // gray
$color-event-5: hsl( 136, 72%, 45%);   // green
$color-event-6: hsl( 195, 100%, 50%);   // Smalt Blue
$color-event-7: hsl( 349, 84%, 77%);   // Smalt Blue
$color-event-8: hsl( 293, 71%, 57%);   // Smalt Blue
$color-event-9: hsl( 44, 55%, 37%);   // Smalt Blue
$color-event-10: hsl( 247, 55%, 37%);   // Smalt Blue
$color-event-11: hsl( 81, 52%, 21%);   // Smalt Blue
$color-event-12: hsl( 11, 81%, 53%);   // Smalt Blue
$color-event-13: hsl( 240, 81%, 79%);   // Smalt Blue
$color-event-14: hsl( 308, 21%, 35%);   // Smalt Blue
$color-event-15: hsl( 176, 80%, 56%);   // Smalt Blue
$color-event-16: hsl( 359, 79%, 33%);   // Smalt Blue


$colors:  $color-event-1,$color-event-2,$color-event-3,
          $color-event-4,$color-event-5, $color-event-6,
          $color-event-7,$color-event-8,$color-event-9,
          $color-event-10,$color-event-11,$color-event-12,
          $color-event-13,$color-event-14, $color-event-15,
          $color-event-16

