
$schedule-rows-number: 12;
$schedule-rows-height: 60px;
$schedule-search-height: 60px;
$sidenav-width: 280px;

$sidebar-header-width: 10px;
$sidebar-show-height: 30%;
$sidebar-hide-height: 5%;

$color-event-0: hsl( 195, 100%, 50%);   // Smalt Blue
$color-event-1: hsl( 271, 23%, 26%);   // Martinique
$color-event-2: hsl( 162, 14%, 68%);   // Edward
$color-event-3: hsl( 31, 89%, 68%);    // Rajah
$color-event-4: hsl( 199, 25%, 46%);   // Smalt Blue
